<!DOCTYPE html>
<html lang="en">

<head>
    <title>Neotech | Home</title>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,600,700%7CRoboto:400,400i,700' rel='stylesheet'>
    <!-- Css -->
    <link href="~/Public_VL/Client/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public_VL/Client/css/font-icons.css" rel="stylesheet" />
    <link href="~/Public_VL/Client/css/style.css" rel="stylesheet" />
    <!-- Favicons -->
    <link rel="shortcut icon" href="/Public_VL/Client/img/favicon.ico">
    <link rel="apple-touch-icon" href="/Public_VL/Client/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Public_VL/Client/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Public_VL/Client/img/apple-touch-icon-114x114.png">
    <!-- Lazyload -->
    <script src="~/Public_VL/Client/js/lazysizes.min.js"></script>
</head>
<body>
    <!-- Preloader -->
    <div class="loader-mask">
        <div class="loader">
            <div></div>
        </div>
    </div>
    <!-- Bg Overlay -->
    <div class="content-overlay"></div>
    <!-- Subscribe Modal -->
    @Html.Partial("model_Subscribe")
    <!-- end subscribe modal -->
    <!-- Mobile Sidenav -->
    @{ Html.RenderAction("Header_mobile", "Home");}
    <!-- end mobile sidenav -->
    <main class="main oh" id="main">
        <!-- Navigation -->
        @{ Html.RenderAction("Header", "Home");}
        <!-- end navigation -->
        <div class="main-container" id="main-container">
            @RenderBody()
            <!-- Footer -->
            @{ Html.RenderAction("Footer", "Home");}
            <!-- end footer -->
        </div> <!-- end main container -->
        <div id="back-to-top">
            <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
        </div>
    </main> <!-- end main-wrapper -->
    <!-- jQuery Scripts -->
    <script src="~/Public_VL/Client/js/jquery.min.js"></script>
    <script src="~/Public_VL/Client/js/bootstrap.min.js"></script>
    <script src="~/Public_VL/Client/js/easing.min.js"></script>
    <script src="~/Public_VL/Client/js/owl-carousel.min.js"></script>
    <script src="~/Public_VL/Client/js/twitterFetcher_min.js"></script>
    <script src="~/Public_VL/Client/js/modernizr.min.js"></script>
    <script src="~/Public_VL/Client/js/scripts.js"></script>
</body>
</html>